<!DOCTYPE html>
<html lang="en" ng-app="ListaDeTareas">
    <head>
        <title>Lista de Tareas</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <!--<link href="css/bootstrap-theme.min.css" rel="stylesheet">-->
        <link href="css/style.css" rel="stylesheet">
        <script src="js/jquery-3.1.1.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/angular.min.js"></script>
    </head>
    <body>
        <div class="container" ng-controller="ControladorTareas">
            <div class="row">
                <div class="col-xs-12 col-sm-7 col-md-8">
                    <form name="formulario" id="formulario" novalidate ng-submit="agregarTarea()">
                        <h1>Lista de Tareas</h1><br>
                        <h3>Tarea:</h3>
                        <input type="text" name="tarea" ng-model="formData.nombre" placeholder="Nombre de la tarea" ng-class="{error }" required>
                        <br><br>
                        <input type="submit" name="boton" class="btn btn-primary" value="enviar" ng-disabled="formulario.$invalid"><br><br>
                    </form>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4">
                    <h2>Tareas</h2>
                    <ul>
                        <span ng-bind="'Te faltan completar ' + restantes() + ' de ' + tareas.length">Cargando....</span>
                        <li ng-repeat="tarea in tareas">
                            <input type="checkbox" ng-model="tarea.Estado">
                            <span ng-bind="tarea.Nombre + '(' + tarea.Fecha + ')'">Cargando....</span>
                        </li>
                    </ul>
                    <button type="button" class="btn btn-warning btn-sm" ng-click="eliminar()">Borrar tareas terminadas</button>
                </div>
            </div>
        </div>
        
        <script>
            var app = angular.module('ListaDeTareas', []);
            app.controller('ControladorTareas', function($scope){
                $scope.tareas = [];
                $scope.agregarTarea = function(){
                    var fecha = new Date();
                    $scope.tareas.push({Nombre: $scope.formData.nombre , Fecha: fecha.toDateString() , Estado: false });
                    $scope.formData.nombre = '';
                }
                $scope.eliminar = function(){
                    var tareasViejas = $scope.tareas;
                    $scope.tareas = [];
                    angular.forEach(tareasViejas, function(tarea){
                        if(!tarea.Estado){
                            $scope.tareas.push(tarea);
                        }
                    });
                }
                $scope.restantes = function(){
                    var TareasTotales = $scope.tareas.length,
                        TareasFaltantes = TareasTotales;
                    angular.forEach($scope.tareas, function(tarea){
                        if(tarea.Estado){
                            TareasFaltantes--;
                        }
                    });
                    return TareasFaltantes;
                }
            });
        </script>

    </body>
</html>